.Rproj.user
.Rhistory
.RData
.Ruserdata
EUCLID.Rproj
.DS_Store
EUCLID_sauvegarde_data_Arthur_29032019/
EUCLID_Revision/
EUCLID Revision 2/
ResponseToRefereesComments.docx
Manuscript/
EUCLID_FinalForProofs/
Figures/GraphicalAbstract.jpg
Figures/GraphicalAbstract.png
Figures/GraphicalAbstract.pptx
